.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
  text-transform: none;
}
.reveal {
  color: #404040
}
.reveal strong {
  color: #f4b940;
}
.reveal em.fa {
  font-style: normal;
}
.reveal .logo {
    position: fixed;
    display: block;
    left: 8px;
    bottom: 8px;
    z-index: 31;
    width: 80px;   
    height: 80px;
    background-image: url('https://pbs.twimg.com/profile_images/192722095/kurokuri_400x400.jpg');
    background-size: 80px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
}
/* 全スライドの右下に固定文字を表示 */
.reveal::after {
    font-style: normal;
    content: "slides.takanory.net";
    position: absolute;
    bottom: 40px;
    right: 120px;
    z-index: 100;
    font-size: 0.6em;
    color: #666;
    pointer-events: none; /* 文字がクリックを邪魔しないようにする */
}
.reveal:has(.present h1)::after {
  display: none;
}
